/* Estilos básicos */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Contenedor principal */
.container {
    text-align: center;
}

/* Logo */
.logo {
    width: 150px;
    margin-bottom: 20px;
}

/* Botón Buscar */
button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Input del buscador */
#searchContainer {
    margin-top: 20px;
}

#searchInput {
    padding: 10px;
    font-size: 16px;
    width: 80%;
    margin-bottom: 10px;
}

.hidden {
    display: none;
}
